.payme {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.payment-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.payment-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.payment-method {
    margin: 10px 0;
}

.payment-method label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.payment-method input[type="radio"] {
    display: none;
}

.payment-method img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-method input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.payment-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.payment-button:hover {
    background-color: #0056b3;
}
